/* h1の文字の色 */
h1 {
    color: rgba(10, 11, 12, 0.712);
}

/* bodyの設定 */
body {
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
}

/* ヘッダーの設定 */
header {
    background-color: #efefef;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* ヘッダーの設定 */
.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

/* アイコンの設定 */
.icon img {
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}

/* プロフィールの設定 */
.info {
    margin-left: 32px;
}

/* プロフィールの中のh1の設定 */
.info h1 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}

/* プロフィールの中のpの設定 */
.info p {
    margin: 0;
    margin-bottom: 16px;
}

/* リストを横並びにする */
.info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.info ul li {
    margin-right: 8px;
}

/* 作品紹介 */
.works {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.works > h1 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.works > section {
    margin-bottom: 60px;
}

.works >section > h1 {
    font-weight: normal;
}

.works > section > h1 > a {
    text-decoration: none;
}

.works p {
    line-height: 1.8;
}


/* 紹介文の説明 */
.unsei {
    color: red;
    font-size: 24px;
}

footer p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
    color: gray;
}